name: "ConvertX"
slug: "convertx"
version: "user"
description: "ConvertX file converter with ClamAV API integration"
arch:
  - amd64
  - aarch64
startup: application
boot: auto
ports:
  "3000/tcp": 8080
ports_description:
  "3000/tcp": "ConvertX Web UI"
webui: "http://[HOST]:[PORT:3000]/"
# Use your own registry naming convention here if you want
image: "kosztyk/convertx-clamav"

options:
  jwt_secret: "1FloareA1"
  http_allowed: true
  tz: "Europe/Bucharest"
  auto_delete_hours: 720
  clamav_url: "http://172.0.0.1:3000/api/v1/scan"
  account_registration: true
  allow_unauthenticated: true

schema:
  jwt_secret: str
  http_allowed: bool
  tz: str
  auto_delete_hours: int
  clamav_url: str
  account_registration: bool
  allow_unauthenticated: bool

