{
  "name": "ConvertX",
  "version": "user",
  "slug": "convertx",
  "description": "ConvertX file converter with ClamAV API integration",
  "arch": ["amd64"],
  "startup": "application",
  "boot": "auto",
  "image": "kosztyk/convertx-clamav",
  "ingress": false,
  "ports": {
    "3000/tcp": 8080
  },
  "ports_description": {
    "3000/tcp": "ConvertX Web UI"
  },
  "webui": "http://[HOST]:[PORT:3000]",
  "map": ["data:rw"]'
  "options": {
    "jwt_secret": "",
    "account_registration": true,
    "http_allowed": true,
    "allow_unauthenticated": true,
    "auto_delete_hours": 24,
    "webroot": "",
    "ffmpeg_args": "",
    "hide_history": false,
    "language": "en",
    "unauthenticated_user_sharing": false,
    "max_convert_process": 3,
    "clamav_url": "http://172.0.0.1:3000/api/v1/scan",
    "tz": "Europe/Bucharest",
    "NODE_ENV": "production"
  },
  "schema": {
    "jwt_secret": "str?",
    "account_registration": "bool",
    "http_allowed": "bool",
    "allow_unauthenticated": "bool",
    "auto_delete_hours": "int",
    "webroot": "str?",
    "ffmpeg_args": "str?",
    "hide_history": "bool",
    "language": "str?",
    "unauthenticated_user_sharing": "bool",
    "max_convert_process": "int",
    "clamav_url": "str",
    "tz": "str"
  }
}
